.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

h2{
  font-weight: bold;
}
.container h2 {
  margin-bottom: 10px;
}

.products {
  flex-basis: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;

}

.product-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: black; */
}

.product {
  max-width: 20%;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.image{
  height: 150px;
}

.product img {
  max-width: 80%;
  max-height: 150px;
  border-radius: 10px;
}

.product h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;

}

.product p {
  margin: 10px 0;
  font-size: 14px;
}

.add-to-cart {
  padding: 5px 10px;
  background-color: rgb(27, 27, 27);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: small;
}

.add-to-cart:hover{
  background-color: rgb(46, 46, 46);
}

.cart {
  flex-basis: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-bottom: 10px;
}

.cart-items {
  margin-top: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item-name {
  flex-grow: 1;
}

.search-button {
  margin-right: 60px;
  font-size: 23px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.search-button:hover {
  text-decoration: underline;
}

.feather {
  width: 24px;
  height: 24px;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-popup {
  background-color: #fff;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

.search-type {

  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-top: 30px;
}

.search-input {
  margin-top: 30px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-submit {
  justify-content: center;
  padding: 8px 16px;
  margin-top: 45px;
  width: 70%;
  background-color: rgb(0, 183, 255);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .products,
  .cart {
    flex-basis: 100%;
  }
}