.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }

.products {
  flex-basis: 70%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .products,
  .cart {
    flex-basis: 100%;
  }
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 30px;
  height: 45px;
  width: 125px;
  margin-top: 30px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: rgb(27, 27, 27);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}


.logout-button:hover {
  background-color: rgb(56, 55, 55);
}

.logout-icon {
  margin-right: 5px;
  transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .products,
  .cart {
    flex-basis: 100%;
  }
}

.update-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 30px;
  height: 45px;
  width: 230px;
  margin-top: 30px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: rgb(27, 27, 27);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: rgb(56, 55, 55);
}