.cart {
    flex-basis: 30%;
    padding: 20px;
    margin-top: 190px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart h2 {
    margin-bottom: 10px;
  }
  
  .cart-items {
    margin-top: 10px;
  }